* {
    margin: 0;
}
body {
    display: flex;
    height: 100vh;
}
.left {
    width: 35vw;
    color: white;
    font-size: 85px;
}
.right{
    width: 65vw;
    background-color: aliceblue;
}
.sidebar {
    display: flex;
    height: 7vw;
    margin-top: 15vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    padding: 2vw 0;
    
}
.odin {
    max-height: 7vw;
}
.first, .second, .third {
    height: 30vh;
    border: 2px solid red;
}
.first {
    margin-top: 10vh
}
.third {
    margin-bottom: 10vh;
}