* {
    margin: 0;
}
body {
    display: flex;
    height: 100vh;
}
.left {
    width: 35vw;
    color: white;
    font-size: 85px;
}
.right{
    width: 65vw;
    background-color: #FAF9F6;
}
.sidebar {
    display: flex;
    height: 7vw;
    margin-top: 15vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    padding: 2vw 0;
    
}
.odin {
    max-height: 7vw;
}
.first, .second, .third {
    height: 30vh;
    padding-left: 5vw;
    padding-right: 15vw;
}
.first{
    display:flex;
    flex-direction: column;
    justify-content:end;
    gap: 2.5vh;
    padding-bottom: 5vh;
    font-size: 30px;
}

.second {
    background-color: white;
}
button {
    background-color: #596D48;
    color: white;
    padding: 15px 0;
    margin-bottom: 3vh;
    font-size: 20px;
    width: 270px;
    border-radius: 10px;
}
.third {
    padding-top: 5vh;
    font-size: 20px;
}